html {
	font-size: 14px;
}
body {
	background-color: rgb(238, 238, 238);
	margin: 0;
}
header {
	background: #fff;
}
a {
	color: #999;
	text-decoration: none;
	border-bottom: 1px dotted #dedede;
}
.logo {
	display: inline-block;
	height: 60px;
	font-size: 24px;
	line-height: 60px;
	color: #4285f4;
	vertical-align: base-line;
}
.sub {
	font-size: 12px;
	color: #9c9c9c;
	padding: 0 5px;
}
.container {
	padding: 0 80px;
}
@media screen and (max-width:720px) {
	header {
		text-align: center;
	}
	.sub {
		display: block;
		padding-bottom: 10px;
	}
	.container {
		padding: 0;
	}
	.content {
		padding: 10px;
	}
}
.content {
	background: #fff;
	padding: 10px 30px 50px;
}
.prolist {
	padding: 10px 20px 20px 20px;
	font-weight: 400;
	font-size: 12px;
	font-family: -apple-system, BlinkMacSystemFont, 'Mirages Custom', 'Merriweather', 'Open Sans', "Segoe UI", Roboto, "PingFang SC", "Microsoft Yahei", "WenQuanYi Micro Hei", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", Helvetica, Arial, sans-serif;
	line-height: 1.5;
}
#github {
	padding: 20px 0;
}
.copy {
	line-height: 60px;
	text-align: center;
	font-size: 12px;
	color: #9c9c9c;
}
a.button {
	position: relative;
	color: rgba(255,255,255,1);
	text-decoration: none;
	background-color: rgba(219,87,5,1);
	font-family: 'Yanone Kaffeesatz';
	font-weight: 700;
	font-size: 3em;
	display: block;
	padding: 4px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
	-moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
	box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
	margin: 100px auto;
	width: 50%;
	text-align: center;
	
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
}
a.button:active {
	-webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
	-moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
	box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
	position: relative;
	top: 6px;
}
.darkmode-toggle{
	z-index: 100000
}
.darkmode--activated .commentTrigger{
	background-color: #403e3e !important;
  }
.darkmode--activated .MiniValine .vpage .more{
	background: #21232F
}
.darkmode--activated img{
      filter: brightness(30%)
}
.darkmode--activated .MiniValine .vlist .vcard .vcomment-body .text-wrapper .vcomment.expand:before{
	background: linear-gradient(180deg, rgba(246,246,246,0), rgba(0,0,0,0.9))
}
.darkmode--activated .MiniValine .vlist .vcard .vcomment-body .text-wrapper .vcomment.expand:after{
	background: rgba(0,0,0,0.9)
}
.darkmode--activated .MiniValine .vlist .vcard .vcomment-body .text-wrapper .vcomment pre{
	background: #282c34
	border: 1px solid #282c34
}
.darkmode--activated .MiniValine .vinputs-area .vextra-area .vsmile-icons{
	background: transparent;
}
.darkmode--activated .highlight>table{
	background: #282c34
}
.darkmode--activated .gutter{
	background: #282c34 !important
	background-color: #282c34 !important
}
.darkmode--activated .highlight figcaption{
	background-color: #21252b
}
.darkmode--activated .highlight{
	border: 1px solid #21252b !important
	background: #282c34
}
.darkmode--activated pre{
	background-color: #282c34 !important
}

.darkmode--activated .MiniValine .vlist .vcard .vcomment-body .vhead .vname {
    color: #FFFFFF !important
}